.info {
    background-color: #0B121C;
margin: 0 auto;
  color: #F9C270;
  text-align: center;
  width: 100%;
  padding: 25px;
  font-family: 'Corbel  ', sans-serif;
  border-radius: 10px;
font-size: large;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.logo{
font-size: large;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}
